<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
</head>
<body>
    <h2><center>Text utils website</center></h2>
    <form action="/analyser" method="GET">
        <textarea name="string" cols="30" rows="10" placeholder="Whats Your text" style="margin: 0px; width: 1479px; height: 95px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <button type="submit">Click me</button>
    </form>
</body>
</html>